In [75]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [76]:
ex = pd.read_json('exercises.json')

In [77]:
ex

,id,name,ordern,description,image,total_levels,type,folder,video,disabled
0,1,Fun with Basics,1,"Sequence, Algorithmic Thinking",fun_with_basics.png,10,maze,fun_with_basics,FWB_LI FINAL.mp4,0
1,2,Loopy Loops,2,"Loops, Debugging",loopy_loops.png,12,maze,loopy_loops,,0
2,3,Conditional Crops,3,"Conditional Statements, Pattern Recognition",conditional_crops.png,12,maze,conditional_crops,,0
3,4,Backyard Functions,4,"Functions, Variables, Events",backyard_functions.png,10,maze,backyard_functions,,0
4,5,Dog and the loops,5,"Loops, Variables, Functions",Dog and the loops - Grade 4.png,8,maze,dog_and_the_loops,,0
5,6,Gardening Conditionals,6,"Functions, Conditional Statements, Sequence, A...",Gardening Conditionals - Grade 4.png,6,maze,gardening_conditionals,,0
6,7,Swamp conditionals,7,"Conditional Statements, Loops, Variables, Sequ...",Swamp Conditionals - Grade 4.png,4,maze,swamp_conditionals,,0
7,8,Baloon pop functions,8,"Conditional Statements, Loops, Variables, Sequ...",Baloon pop functions - Grade 4.png,8,maze,baloon_pop_functions,,0
8,9,Loops and castles,9,"Loops, Variables, Functions",Loops and Castles - Grade 5.png,8,maze,loops_and_castles,,0
9,10,Desert conditionals,10,"Conditional Statements, Loops, Variables, Sequ...",Desert Conditionals - Grade 5.png,4,maze,desert_conditionals,,0
10,11,Predator bird functions,11,"Conditional Statements, Loops, Variables, Sequ...",Predator Bird Functions - Grade 5.png,7,maze,predator_bird_functions,,0
11,12,Functions on the field,12,"Conditional Statements, Loops, Variables, Sequ...",Functions on the field - Grade 5.png,9,maze,functions_on_field,,0
12,13,Introduction to Gaming - Grade 5,0,,G5 Ex1 card.png,3,game,intro_to_gaming,,0
13,14,Shape Builder - Grade 5,0,,G5 Ex2 card.png,7,game,shape_builder,,0
14,15,Variables & Randomization - Grade 5,0,,G5 Ex3 card.png,8,game,variables_random,,0
15,16,Introduction to Gaming - Grade 6,0,,G6 Ex1 card.png,3,game,intro_to_gaming_6,,0
16,17,Shape Builder - Grade 6,0,,G6 Ex2 card.png,8,game,shape_builder_6,,0
17,18,Variables & Randomization - Grade 6,0,,G6 Ex3 card.png,8,game,variables_random_6,,0
18,19,Introduction to Gaming - Grade 7,0,,G7 Ex1 card-01.png,3,game,intro_to_gaming_7,,0
19,20,Shape Builder - Grade 7,0,,G7 Ex2 card-01.png,8,game,shape_builder_7,,0
20,21,Variables & Randomization - Grade 7,0,,G7 Ex3 card-01.png,5,game,variables_random_7,,0
21,22,Introduction to Gaming - Grade 8,0,,G8 Ex1 card-01.png,3,game,intro_to_gaming_8,,0
22,23,Shape Builder - Grade 8,0,,G8 Ex2 card-01.png,8,game,shape_builder_8,,0
23,24,Variables & Randomization - Grade 8,0,,G8 Ex3 card-01.png,8,game,variables_random_8,,0
24,25,Exploring Sprites - Grade 5,0,,G5 Ex3 card.png,5,game,grade-5-1,,0
25,26,Sprites Movement - Grade 5,0,,G5 Ex3 card.png,3,game,grade-5-2,,0
26,27,Exploring Sprites - Grade 6,0,,G5 Ex3 card.png,5,game,grade-5-1,,0
27,28,Exploring Sprites - Grade 7,0,,G5 Ex3 card.png,7,game,grade-7-1,,0
28,29,Exploring Sprites - Grade 8,0,,G5 Ex3 card.png,7,game,grade-7-1,,0
29,30,Sprites Movement - Grade 6,0,,G5 Ex3 card.png,3,game,grade-5-2,,0
30,31,Sprites Movement - Grade 7,0,,G5 Ex3 card.png,7,game,grade-7-2,,0
31,32,Sprites Movement - Grade 8,0,,G5 Ex3 card.png,7,game,grade-7-2,,0
32,33,Text & Scoring - Grade 5,0,,G5 Ex3 card.png,5,game,grade-5-4,,0
33,34,Text & Scoring - Grade 6,0,,G5 Ex3 card.png,5,game,grade-5-4,,0
34,35,Text & Scoring - Grade 7,0,,G5 Ex3 card.png,7,game,grade-7-4,,0
35,36,Text & Scoring - Grade 8,0,,G5 Ex3 card.png,7,game,grade-7-4,,0
36,37,Sprite Events - Grade 5,0,,G5 Ex3 card.png,3,game,grade-5-3,,0
37,38,Sprite Events - Grade 6,0,,G5 Ex3 card.png,3,game,grade-5-3,,0
38,39,Sprite Events - Grade 7,0,,G5 Ex3 card.png,3,game,grade-7-3,,0
39,40,Sprite Events - Grade 8,0,,G5 Ex3 card.png,3,game,grade-7-3,,0
40,41,Event Conditionals - Grade 5,0,,G5 Ex3 card.png,3,game,grade-5-5,,0
41,42,Event Conditionals - Grade 6,0,,G5 Ex3 card.png,3,game,grade-5-5,,0
42,43,Event Conditionals - Grade 7,0,,G5 Ex3 card.png,3,game,grade-7-5,,0
43,44,Event Conditionals - Grade 8,0,,G5 Ex3 card.png,3,game,grade-7-5,,0
44,45,Fun with Basics,13,r,fun_with_basics.png,3,maze,fun_with_basics_r,FWB_LI FINAL.mp4,0
45,46,Loopy Loops,14,r,loopy_loops.png,4,maze,loopy_loops_r,,0
46,47,Conditional Crops,15,r,conditional_crops.png,4,maze,conditional_crops_4,,1
47,48,Backyard Functions,16,r,backyard_functions.png,6,maze,backyard_functions_r,,0
48,49,Fun with Basics - Grade 1 & 2,1,.,fun_with_basics.png,8,maze,fun_with_basics_g12,,0
49,50,Loopy Loops - Grade 1/2,2,.,loopy_loops.png,8,maze,loopy_loops_g12,,0

In [78]:
total_exercise_count = ex['id'].count()
total_level_count = ex['total_levels'].sum()

In [79]:
df = pd.read_json('student_report_itk.json')

In [80]:
df.shape

(1000, 11)

In [81]:
df.head()

,user_id,name,school,grade,division,exercise_id,exercise_name,level,total_levels,level_completion_status,blocks
0,7695,Eva Admin,,,,13,Introduction to Gaming - Grade 5,1,3,0,"<xml xmlns=""https://developers.google.com/bloc..."
1,7695,Eva Admin,,,,13,Introduction to Gaming - Grade 5,2,3,0,
2,1,,,100,A,1,Fun with Basics,1,10,1,"<xml xmlns=""https://developers.google.com/bloc..."
3,1,,,100,A,2,Loopy Loops,1,12,0,
4,1,,,100,A,1,Fun with Basics,2,10,1,"<xml xmlns=""https://developers.google.com/bloc..."

In [82]:
df = df[~(df['grade']=='')]

In [83]:
df.head()

,user_id,name,school,grade,division,exercise_id,exercise_name,level,total_levels,level_completion_status,blocks
2,1,,,100,A,1,Fun with Basics,1,10,1,"<xml xmlns=""https://developers.google.com/bloc..."
3,1,,,100,A,2,Loopy Loops,1,12,0,
4,1,,,100,A,1,Fun with Basics,2,10,1,"<xml xmlns=""https://developers.google.com/bloc..."
5,1,,,100,A,1,Fun with Basics,3,10,1,"<xml xmlns=""https://developers.google.com/bloc..."
6,1,,,100,A,1,Fun with Basics,4,10,0,

In [84]:
def count_blocks(xml):
    soup = BeautifulSoup(xml, 'html.parser')
    return len(soup.find_all('block'))

In [85]:
df['block_count'] = df['blocks'].apply(count_blocks)

In [86]:
def proper_case(string):
    parts = string.split(' ')

    return ' '.join(word.title() for word in parts[0:])

In [87]:
df.head()

,user_id,name,school,grade,division,exercise_id,exercise_name,level,total_levels,level_completion_status,blocks,block_count
2,1,,,100,A,1,Fun with Basics,1,10,1,"<xml xmlns=""https://developers.google.com/bloc...",4
3,1,,,100,A,2,Loopy Loops,1,12,0,,0
4,1,,,100,A,1,Fun with Basics,2,10,1,"<xml xmlns=""https://developers.google.com/bloc...",6
5,1,,,100,A,1,Fun with Basics,3,10,1,"<xml xmlns=""https://developers.google.com/bloc...",9
6,1,,,100,A,1,Fun with Basics,4,10,0,,0

In [88]:
df['name'] = df['name'].apply(proper_case)

In [89]:
df_ex_completed = df[df['level_completion_status']==1]

In [90]:
df_ex_completed.shape

(728, 12)

In [91]:
df_ex_completed

,user_id,name,school,grade,division,exercise_id,exercise_name,level,total_levels,level_completion_status,blocks,block_count
2,1,,,100,A,1,Fun with Basics,1,10,1,"<xml xmlns=""https://developers.google.com/bloc...",4
4,1,,,100,A,1,Fun with Basics,2,10,1,"<xml xmlns=""https://developers.google.com/bloc...",6
5,1,,,100,A,1,Fun with Basics,3,10,1,"<xml xmlns=""https://developers.google.com/bloc...",9
110,7714,Aabha Patil,Bhiwandi School,1,Sapphire,1,Fun with Basics,1,10,1,"<xml xmlns=""https://developers.google.com/bloc...",3
111,7714,Aabha Patil,Bhiwandi School,1,Sapphire,45,Fun with Basics,1,3,1,"<xml xmlns=""https://developers.google.com/bloc...",10
...,...,...,...,...,...,...,...,...,...,...,...,...
994,7751,Swara Gulve,Bhiwandi School,3,Garnet,1,Fun with Basics,4,10,1,"<xml xmlns=""https://developers.google.com/bloc...",11
995,7751,Swara Gulve,Bhiwandi School,3,Garnet,2,Loopy Loops,4,12,1,"<xml xmlns=""https://developers.google.com/bloc...",25
996,7751,Swara Gulve,Bhiwandi School,3,Garnet,1,Fun with Basics,5,10,1,"<xml xmlns=""https://developers.google.com/bloc...",13
997,7751,Swara Gulve,Bhiwandi School,3,Garnet,2,Loopy Loops,5,12,1,"<xml xmlns=""https://developers.google.com/bloc...",11
999,7751,Swara Gulve,Bhiwandi School,3,Garnet,1,Fun with Basics,6,10,1,"<xml xmlns=""https://developers.google.com/bloc...",16

# BLOCK 1 

Levels Completed | School Average | Exercises Completed | School Average

In [92]:
report_block1 = df_ex_completed.groupby(['user_id', 'name', 'grade', 'division']).agg(
    exercises_done=('exercise_id', 'nunique'),
    levels_done=('level', 'nunique')).reset_index()

In [93]:
report_block1['ex_completion_rate'] = (report_block1['exercises_done']/total_exercise_count).round(2)
report_block1['lev_completion_rate'] = (report_block1['levels_done']/total_level_count).round(2)

In [94]:
report_block1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              48 non-null     int64
 1   name                 48 non-null     object
 2   grade                48 non-null     object
 3   division             48 non-null     object
 4   exercises_done       48 non-null     int64
 5   levels_done          48 non-null     int64
 6   ex_completion_rate   48 non-null     float64
 7   lev_completion_rate  48 non-null     float64
dtypes: float64(2), int64(3), object(3)
memory usage: 3.1+ KB

In [95]:
df_wo_duplicates = df.drop_duplicates(subset=['user_id']).reset_index()

In [96]:
final_report_block1 = pd.merge(report_block1, df_wo_duplicates[['user_id', 'school']], on='user_id', how='left')

In [97]:
final_report_block1.shape

(48, 9)

In [98]:
final_report_block1.shape

(48, 9)

In [99]:
average_exercise = final_report_block1.groupby(['school'])['exercises_done'].mean().round(1)
average_exercise_dict = dict(zip(average_exercise.index, average_exercise.values))

In [100]:
average_exercise_dict

{'': 1.0, 'Bhiwandi School': 2.7}

In [101]:
final_report_block1['school_ex_avg'] = final_report_block1['school'].map(average_exercise_dict)

In [102]:
average_level = final_report_block1.groupby('school')['levels_done'].mean().round(2)
average_level_dict = dict(zip(average_level.index, average_level.values))

In [103]:
average_level_dict

{'': 3.0, 'Bhiwandi School': 7.09}

In [104]:
final_report_block1['school_lev_avg'] = final_report_block1['school'].map(average_level_dict)

In [105]:
final_report_block1.head()

,user_id,name,grade,division,exercises_done,levels_done,ex_completion_rate,lev_completion_rate,school,school_ex_avg,school_lev_avg
0,1,,100,A,1,3,0.02,0.01,,1.0,3.00
1,7705,Shreya Gupta,1,Sapphire,3,7,0.06,0.02,Bhiwandi School,2.7,7.09
2,7706,Raj Jadhav,1,Sapphire,4,4,0.08,0.01,Bhiwandi School,2.7,7.09
3,7707,Devyansh Gupta,1,Sapphire,3,8,0.06,0.03,Bhiwandi School,2.7,7.09
4,7708,Siddhu Jha,1,Sapphire,2,8,0.04,0.03,Bhiwandi School,2.7,7.09

In [106]:
final_report_block1.to_csv('support_files/report_block1.csv')

# BLOCK 2

Exercise Name | Total Levels | Levels Completed | Concepts | Blocks Used

In [107]:
df_ex_completed.head()

,user_id,name,school,grade,division,exercise_id,exercise_name,level,total_levels,level_completion_status,blocks,block_count
2,1,,,100,A,1,Fun with Basics,1,10,1,"<xml xmlns=""https://developers.google.com/bloc...",4
4,1,,,100,A,1,Fun with Basics,2,10,1,"<xml xmlns=""https://developers.google.com/bloc...",6
5,1,,,100,A,1,Fun with Basics,3,10,1,"<xml xmlns=""https://developers.google.com/bloc...",9
110,7714,Aabha Patil,Bhiwandi School,1,Sapphire,1,Fun with Basics,1,10,1,"<xml xmlns=""https://developers.google.com/bloc...",3
111,7714,Aabha Patil,Bhiwandi School,1,Sapphire,45,Fun with Basics,1,3,1,"<xml xmlns=""https://developers.google.com/bloc...",10

In [108]:
report_block2 = df_ex_completed.groupby(['user_id', 'name', 'exercise_id', 'exercise_name', 'total_levels']).agg(levels_done=('level', 'nunique'), blocks_used=('block_count', 'sum')).reset_index()

In [109]:
report_block2.shape

(129, 7)

In [110]:
report_block2

,user_id,name,exercise_id,exercise_name,total_levels,levels_done,blocks_used
0,1,,1,Fun with Basics,10,3,19
1,7705,Shreya Gupta,1,Fun with Basics,10,1,3
2,7705,Shreya Gupta,49,Fun with Basics - Grade 1 & 2,8,5,0
3,7705,Shreya Gupta,50,Loopy Loops - Grade 1/2,8,4,0
4,7706,Raj Jadhav,1,Fun with Basics,10,3,13
...,...,...,...,...,...,...,...
124,7753,Diya Raicha,2,Loopy Loops,12,12,187
125,7753,Diya Raicha,3,Conditional Crops,12,5,203
126,7955,Yatisri,1,Fun with Basics,10,3,16
127,7955,Yatisri,49,Fun with Basics - Grade 1 & 2,8,8,0
128,7955,Yatisri,50,Loopy Loops - Grade 1/2,8,8,0

In [111]:
report_block2[['exercise_name', 'total_levels']].value_counts()

exercise_name                  total_levels
Fun with Basics                10              44
Fun with Basics - Grade 1 & 2  8               40
Loopy Loops - Grade 1/2        8               24
Loopy Loops                    12               9
Conditional Crops              12               6
Fun with Basics                3                6
dtype: int64

# Block 3

Concepts | Explanation

In [112]:
ex.rename(columns={'id': 'exercise_id'}, inplace=True)

In [113]:
ex.head()

,exercise_id,name,ordern,description,image,total_levels,type,folder,video,disabled
0,1,Fun with Basics,1,"Sequence, Algorithmic Thinking",fun_with_basics.png,10,maze,fun_with_basics,FWB_LI FINAL.mp4,0
1,2,Loopy Loops,2,"Loops, Debugging",loopy_loops.png,12,maze,loopy_loops,,0
2,3,Conditional Crops,3,"Conditional Statements, Pattern Recognition",conditional_crops.png,12,maze,conditional_crops,,0
3,4,Backyard Functions,4,"Functions, Variables, Events",backyard_functions.png,10,maze,backyard_functions,,0
4,5,Dog and the loops,5,"Loops, Variables, Functions",Dog and the loops - Grade 4.png,8,maze,dog_and_the_loops,,0

In [114]:
report_block2 = pd.merge(report_block2, ex[['description', 'exercise_id']], on='exercise_id', how='left')

In [115]:
columns = report_block2.columns.tolist()
columns

['user_id',
 'name',
 'exercise_id',
 'exercise_name',
 'total_levels',
 'levels_done',
 'blocks_used',
 'description']

In [116]:
report_block2 = report_block2[['user_id',
 'name',
 'exercise_id',
 'exercise_name',
 'description',
 'total_levels',
 'levels_done',
 'blocks_used']]

In [117]:
report_block2.head()

,user_id,name,exercise_id,exercise_name,description,total_levels,levels_done,blocks_used
0,1,,1,Fun with Basics,"Sequence, Algorithmic Thinking",10,3,19
1,7705,Shreya Gupta,1,Fun with Basics,"Sequence, Algorithmic Thinking",10,1,3
2,7705,Shreya Gupta,49,Fun with Basics - Grade 1 & 2,.,8,5,0
3,7705,Shreya Gupta,50,Loopy Loops - Grade 1/2,.,8,4,0
4,7706,Raj Jadhav,1,Fun with Basics,"Sequence, Algorithmic Thinking",10,3,13

In [118]:
report_block2.to_csv('support_files/report_block2.csv')

In [1]:
import json
with open ('support_files/concepts.json', 'r') as file:
    conceptsJSON = json.load(file)

In [2]:
conceptsJSON['Computational_Thinking_Concepts']['Algorithmic Thinking']

'Developing step-by-step instructions or rules to solve a problem.'

'Algorithmic Thinking'